* , *::after, *::before{
    font-family: Arial;
    box-sizing: border-box;
}
body{
    background: #333;
    font-size: 7.5vmin;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}
#game-board{
    display: grid;
    grid-template-columns: repeat(4,20vmin);
    grid-template-rows: repeat(4,20vmin);
    background-color: #ccc;
    gap: 2vmin;
    border-radius: 1vmin;
    padding: 2vmin;
    position: relative;
}
.cell{
    background-color: #aaa;
    border-radius: 1vmin;
}